<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- mybatis sqlSessionFactory 配置成spring bean -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 数据源 bean -->
        <property name="dataSource" ref="dataSource"/>
        <!-- mybatis全局配置文件位置 -->
        <property name="configLocation" value="classpath:mybatis.xml"/>
        <!-- 指定mybatis mapper接口xml配置文件位置 -->
        <!--<property name="mapperLocations" value="classpath:mapper/*.xml" />-->
    </bean>

    <!-- mybatis mapper接口包扫描 -->
    <!--<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">-->
    <!--&lt;!&ndash; mapper 包路径 &ndash;&gt;-->
    <!--<property name="basePackage" value="com.zhu.kaoqin.mapper" />-->
    <!--&lt;!&ndash; sqlSessionFactory bean &ndash;&gt;-->
    <!--<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />-->
    <!--</bean>-->

    <bean class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="annpud.kaoqin.KaoqinTbMapper"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="annpud.kaoqin.TimeTbMapper"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>

</beans>
